@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Hello There</h1>
    <p class="lead">My Name is Alexandru Petrescu and this is my MSPAPP, WIP, hope you like it.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find me on Git</h2>
        <p>
            I have some interesting projects on GitHub and you can make some use of them if you are into Xamarin, C# or AI.
        </p>
        <p><a class="btn btn-default" href="https://github.com/askingalexander">Go There &raquo;</a></p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h2>Find me on PortfolioBox</h2>
        <p>
            I know some photoshop and this site proves it. It also holds links to all my Social and Professional Media.
        </p>
        <p><a class="btn btn-default" href="http://petrescualexandru.portfoliobox.net">Go There &raquo;</a></p>
    </div>
</div>